@{
  ViewBag.Title = "Home Page";
}

<style>
  body {
    padding: 20px;
  }

  .light{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px;
  }

  .colorLine{
    padding: 0px;
    margin: 5px;
    display: inline-block;
  }
</style>

<div ng-app="MyApp" style="margin-top: 50px" ng-controller="lights as ctrl">
  <div>
    Generate next populations:
    <input type="button" ng-click="ctrl.changeColors = !ctrl.changeColors" ng-value="ctrl.changeColors">
    </input>
  </div>
  <div>
    Set target color:
    <div id="cp2" class="input-group colorpicker-component" style="display: inline-block; margin-left: 10px;">
      <span class="input-group-addon" style="width: 30px; height: 30px; padding: 0px"><i style="width: 100%; height: 100%"></i></span>
    </div>

  </div>
  <div ng-repeat="colorLine in ctrl.colorLines" class="colorLine">
    <span class="light" ng-repeat="color in colorLine" ng-style="ctrl.setCssColor(color)">
    </span>
  </div>

  <div>
    <pre style="border: none; background: white;">{{ctrl.evolutionDetails}}
    </pre>
  </div>
</div>
 
