@{
  ViewBag.Title = "Home Page";
}

<style>
  body {
    padding: 20px;
  }

  .light{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px;
    background-color: white;
    transition: 1s ease-in-out;
  }

  .colorLine{
    padding: 0px;
    margin: 5px;
    display: inline-block;
  }
  
  .test {
    background-color: #454422;
    height: 30px;
    width: 30px;
    transition: .7s ease-in-out;
  }
  
  .test:hover {
    background-color: #453300;
  }
</style>

<div ng-app="MyApp" style="margin-top: 50px" ng-controller="lights as ctrl">  
@*  <div ng-repeat="colorLine in ctrl.colorLines" class="colorLine">*@
@*    <span class="light" ng-style="ctrl.testNgStyle">*@
@*    </span>*@
@*  </div>*@
@*  <input type="button" ng-click="ctrl.testChangeColor()" value="change"/>*@
  <div>
    Generate next
    <input type="number" ng-model="ctrl.populationsToGenerate"/>
    population{{ctrl.populationsToGenerate > 1 ? "s" : ""}}:
    @*    <input type="button" ng-click="ctrl.getNextPopulations(1)" ng-if="!ctrl.changeColors" value="One">*@
    @*    </input>*@
    <input type="button" ng-click="ctrl.generateInitialPopulation()" value="Generate initial population">
    </input>
    <input type="button" ng-click="ctrl.changeColors = !ctrl.changeColors" ng-value="ctrl.changeColors === true ? 'Repeating' : 'Off'">
    </input>
  </div>
  <div>
    Set target color:
    <div id="cp2" class="input-group colorpicker-component" style="display: inline-block; margin-left: 10px; border: 1px dotted;">
      <span class="input-group-addon" style="width: 30px; height: 30px; padding: 0px"><i style="width: 100%; height: 100%"></i></span>
    </div>

  </div>
  <div ng-repeat="colorLine in ctrl.colorLines" class="colorLine">
    <span class="light" ng-repeat="color in colorLine.Colors" ng-style="color">
      
    </span>
  </div>

  <div>
    <pre style="border: none; background: white;">{{ctrl.evolutionDetails}}
    </pre>
  </div>
</div>
 
